[submodule "third_party/libbitcoin-system"]
	path = third_party/libbitcoin-system
	url = https://github.com/libbitcoin/libbitcoin-system.git
[submodule "third_party/bitcoin"]
	path = third_party/bitcoin
	url = https://github.com/bitcoin/bitcoin.git
[submodule "third_party/libbtc"]
	path = third_party/libbtc
	url = https://github.com/libbtc/libbtc.git
[submodule "third_party/secp256k1"]
	path = third_party/secp256k1
	url = https://github.com/bitcoin-core/secp256k1.git
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = git://github.com/google/googletest.git
	branch = master
